<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
	<dict>
		<key>BBEditDocumentType</key>
		<string>CodelessLanguageModule</string>
		<key>com.barebones.DocumentType</key>
		<string>CodelessLanguageModule</string>
		<key>BBLMLanguageDisplayName</key>
		<string>LiveCode</string>
		<key>BBLMLanguageCode</key>
		<string>LvCd</string>
		<key>BBLMColorsSyntax</key>
		<true />
		<key>BBLMScansFunctions</key>
		<true />
		<key>BBLMIsCaseSensitive</key>
		<false />
		<key>BBLMKeywordList</key>
		<array>
			<string>if</string>
			<string>command</string>
			<string>function</string>
			<string>end</string>
			<string>for</string>
			<string>in</string>
			<string>then</string>
			<string>else</string>
			<string>or</string>
			<string>of</string>
			<string>while</string>
			<string>until</string>
			<string>do</string>
			<string>try</string>
			<string>catch</string>
			<string>is</string>
			<string>isnt</string>
			<string>unless</string>
			<string>and</string>
			<string>not</string>
			<string>class</string>
			<string>extends</string>
			<string>super</string>
			<string>new</string>
			<string>this</string>
			<string>switch</string>
			<string>when</string>
			<string>finally</string>
			<string>typeof</string>
			<string>void</string>
			<string>to</string>
			<string>til</string>
			<string>by</string>
			<string>private</string>
			<string>function</string>
			<string>put</string>
			<string>get</string>
			<string>into</string>
			<string>after</string>
			<string>before</string>
			<string>return</string>
			<string>local</string>
			<string>global</string>
			<string>constant</string>
			<string><![CDATA[->]]></string>
			<string><![CDATA[-->]]></string>
			<string><![CDATA[~>]]></string>
			<string><![CDATA[~~>]]></string>
			<string><![CDATA[=>]]></string>
		</array>
		<key>BBLMPredefinedNameList</key>
		<array>
			<string>true</string>
			<string>false</string>
			<string>null</string>
			<string>@</string>
		</array>
		<key>BBLMSuffixMap</key>
		<array>
			<dict>
				<key>BBLMLanguageSuffix</key>
				<string>.lc</string>
			</dict>
		</array>
		<key>BBLMCommentLineDefault</key>
		<string>#</string>
		<key>Language Features</key>
		<dict>
			<key>Identifier and Keyword Character Class</key>
			<string><![CDATA[0-9A-Z_a-z\@\=\-\>\?]]> 
			</string>
			<key>Comment Pattern</key>
			<string><![CDATA[(?x:
					(\#.*?$) |
					(//.*?$) |
					(--.*?$) |
					(?s:^\s*\/\*.+?\s*\*\/)
					)
					]]></string>
			<key>String Pattern</key>
			<string><![CDATA[
						(?x:
							("(\\"|[^"\r]|\\\r)*") | (?# Double-quote)
							('(\\'|[^'\r]|\\\r)*') | (?# Single-quote)
							(?s: (?# Here-document)
								<<-?(?P<delim>\w+)
								.*?
								(?P=delim)
							)
						)
						]]></string>
			<key>Function Pattern</key>
			<string><![CDATA[
						(?sx:^
							(?P<function>(private\s)?(on|command|function)\s+(?P<function_name>[a-zA-Z0-9_@]+).*
								^end\s(?P=function_name))
						)
						]]></string>
			<key>Open Statement Blocks</key>
			<string>command</string>
			<key>Open Statement Blocks</key>
			<string>function</string>
			<key>Open Statement Blocks</key>
			<string>on</string>
			<key>Open Statement Blocks</key>
			<string>if</string>
			<key>Open Statement Blocks</key>
			<string>switch</string>
			<key>Close Statement Blocks</key>
			<string>end</string>
		</dict>
	</dict>
</plist>
